.album-image {
    width: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.album-image img {
    height: 80%;
    width: 90%;
    aspect-ratio: 1;
    border-radius: 20px;
}

.shadow {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 25px;
    overflow: hidden;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -20px;
    z-index: -1;
    border-radius: 20px;
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.shadow-img {
    position: absolute;
    margin-top: 3rem;
    object-fit: cover;
}