.song-card {
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.song-album-container {
    background: #000;
    background: linear-gradient(125deg, #000000 0%, #322323 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
    background-size: 400% 500%;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: .35s all;
    border-radius: 20px;
}

.song-information {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.song-album-container:hover {
    background-position: 100% 100%;
}

.song-album-img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 20px;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    mix-blend-mode: screen;
}

.marquee-container {
    width: 100%;
    /* padding-left: 0%; */
    /* padding-right: -100%; */
    display: inline-block;
    white-space: nowrap;
    justify-content: space-around;
    margin-top: 20px;
    animation: marquee 6s linear infinite;
    /* padding-left: -100%; */
    overflow: hidden;
}

.marquee-container span {
    width: 100%;
    padding-left: -100%;
}

.song-name {
    color: #fff;
    font-size: 16px;
    font-family: Skranji, Courgette, 'Courier New', Courier, monospace;
    font-weight: bold;
}

.artist-name {
    width: 100%;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}